{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-lg">
        <div class="buttons">
            <form action="{{ path('homepage') }}" method="POST">
                <input name="request" type="submit" value="New request to Lexani" class="btn btn-primary">
            </form>
            <form action="{{ path('homepage') }}" method="POST">
                <input name="save" type="submit" value="Save to CSV" class="btn btn-primary">
            </form>
            <form action="{{ path('homepage') }}" method="POST">
                <input name="saveWithCompare" type="submit" value="Save to CSV with Compare"
                       class="btn btn-primary" {{ buttonStatus }}>
            </form>
            <form action="{{ path('homepage') }}" method="POST">
                <input name="clearAll" type="submit" value="Clear All" class="btn btn-danger">
            </form>

        </div>

        <h1 class="sub-header">Actual Video data</h1>

        <div class="table-responsive">
            <table class="table-sm">
                <thead>
                <tr>
                    <th>Link</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Thumbnail</th>
                </tr>
                </thead>
                <tbody>
                {% for video in videoData %}
                    <tr>
                        <td>{{ video.youtubeLink }}</td>
                        <td>{{ video.title }}</td>
                        <td>
                            <div class="descr">{{ video.description }}</div>
                        </td>
                        <td>{{ video.thumbnail }}</td>
                        <td>
                            <a href="/update/{{ video.id }}" class="btn btn-info">Update</a>
                        </td>
                        <td>
                            <a href="/delete/{{ video.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <a href="{{ path('new_data') }}" class="btn btn-warning">+ Add NEW</a>


        </div>
    </div>
{% endblock %}